<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href={{"/" | relative_url}}><img src="https://raw.githubusercontent.com/rcsousa/cards/master/images/srebrasilnoticiasicon.png"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Edições Anteriores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/edicao1">Edição 1</a>
          <a class="dropdown-item" href="/edicao2">Edição 2</a>
          <a class="dropdown-item" href="/edicao3">Edição 3</a>
          <a class="dropdown-item" href="/edicao4">Edição 4</a>
          <a class="dropdown-item" href="/edicao5">Edição 5</a>
          <a class="dropdown-item" href="/edicao6">Edição 6</a>
          <a class="dropdown-item" href="/edicao7">Edição 7</a>
          <a class="dropdown-item" href="/edicao8">Edição 8</a>
          <a class="dropdown-item" href="/edicao9">Edição 9</a>
          <a class="dropdown-item" href="/edicao10">Edição 10</a>
          <a class="dropdown-item" href="/edicao11">Edição 11</a>
          <a class="dropdown-item" href="/edicao12">Edição 12</a>
          <a class="dropdown-item" href="/edicao13">Edição 13</a>
          <a class="dropdown-item" href="/edicao14">Edição 14</a>
          <a class="dropdown-item" href="/edicao15">Edição 15</a>         
    </ul>
  </div>
</nav>
