<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href={{"/" | relative_url}}><img src="https://raw.githubusercontent.com/rcsousa/cards/master/images/srebrasilnoticiasicon.png"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href={{"/busca/" | relative_url}} >Pesquisar</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Edições Anteriores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/marco2022">Março 2022</a>
          <a class="dropdown-item" href="/abril2022">Abril 2022</a>
          <a class="dropdown-item" href="/maio2022">Maio 2022</a>
          <a class="dropdown-item" href="/junho2022">Junho 2022</a>
          <a class="dropdown-item" href="/julho2022">Julho 2022</a>
          <a class="dropdown-item" href="/agosto2022">Agosto 2022</a>
          <a class="dropdown-item" href="/setembro2022">Setembro 2022</a>
          <a class="dropdown-item" href="/outubro2022">Outubro 2022</a>
          <a class="dropdown-item" href="/novembro2022">Novembro 2022</a>
          <a class="dropdown-item" href="/dezembro2022">Dezembro 2022</a>
    </ul>
  </div>
</nav>
