---
layout: default
---

<div class="row">
  <div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title font-weight-bold" itemprop="name headline">
          {{ page.title }}
        </h1>
        <p class="post-meta">
          <time
            datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished"
            >{{ page.date | date: "%b %-d, %Y" }}</time
          >{% if page.comentado_por %} •
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"
            ><span itemprop="name">Comentado por <a href="{{page.comentado_por_linkedin}}"> {{page.comentado_por }}</a></span></span
          >{% endif %}
        </p>            
      </header>
      <div class="post-content" itemprop="articleBody">{{ content }}</div>
    </article>

    <div class="next-previous-articles">
      <nav aria-label="">
        <ul class="pagination">
          {% if page.next.url %}
          <li class="page-item">
            <a class="btn btn-info" href="{{page.next.url}}" tabindex="-1"
              >&laquo; {{page.next.title}}</a>
          </li>
          {% endif %} {% if page.previous.url %}
          <span>&nbsp;&nbsp;</span>
          <li class="page-item">
            <a class="btn btn-info" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div class="">
      {% if site.disqus-shortname %} {% include disqus.html %} {% endif %}
    </div>
  </div>

  {% include sidebar.html %}
</div>

{% include fb-script.html %}
